{
	"ModInfo" : {
		"__type" : "ModInfo,Assembly-CSharp",
		"value" : {
			"id" : "157.Fools",
			"name" : "157 FOOLS v0.0.2",
			"version" : "0.0.2",
			"description" : "Fools.\n\nGitHub repository: https://github.com/SpecialAPI/BOSpecialFools",
			"authors" : "157",
			"showIconOnMainMenu" : false
		}
	}
}